.about-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;

    .query-content {
        padding: 5rem 10rem;
        overflow: auto;
        flex-grow: 1;
        width: 80%;

        @media screen and (max-width: 768px) {
            padding: 5rem 2rem 2rem;
        }

        strong {
            font-family: Montserrat-SemiBold;
        }
        b {
            font-family: Montserrat-Regular;
        }

        .panel__label strong {
            font-family: Montserrat-Bold;
            font-size: 2.5rem;
        }
    }
}