.app-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 5rem;
    font-family: Montserrat-Regular;
    font-size: 1rem;
    border-top: 1px solid #3D3E40;

    @media screen and (max-width: 1280px) {
        padding: 2rem 3.5rem;
    }
  
    .left {
        display: flex;
        align-items: center;

        img {
            width: 3.8rem;
            margin-right: 5px;
        }

        a {
            margin: 5px 0 0 50px;
            color: #819099;
            letter-spacing: 0.21px;
            text-align: center;
            line-height: 11px;
            text-decoration: none;

            @media screen and (max-width: 1280px) {
                margin: 5px 0 0 3.5rem;
            }

            &:first-of-type {
                margin: 0;
            }

            &:hover {
                color: white;
            }

            &.menu.selected {
                color: #aaa;
            }
        }
    }
  
    .right {
        display: flex;
        align-items: center;

        .open-date {
            background-color: #25262B;
            margin: 0 20px;
            padding: 5px 15px;
            border-radius: 7px;
        }

        span {
            font-family: Montserrat-SemiBold;
            color: #FFFFFF;
            letter-spacing: 0.63px;

            .symbol {
                font-family: Lucida Grande;
                font-weight: bold;
            }

            @media screen and (max-width: 1024px) {
                &:first-of-type {
                    display: none;
                }
            }
        }

        img {
            width: 2rem;
        }
    }

    &.mobile {
        justify-content: center;
        padding: 15px 0;
        font-size: 8px;
        border: none;
        background-image: linear-gradient(to right, #222428, #2e3139);

        .right {
            .open-date {
                margin: 0 0 0 10px;
                border-radius: 5px;
                padding: 5px 10px;
            }

            span {
                display: block;
                font-family: Montserrat-Thin;
                letter-spacing: 0.3px;

                @media screen and (min-width: 760px) and (max-width: 1023px) {
                    &:first-of-type {
                        display: none;
                    }
                }
            }
        }

        @media screen and (max-width: 320px) {
            font-size: 7px;
        }
    }
  }