.app-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    font-family: Montserrat-Regular;
    font-size: 10px;
    border-top: 1px solid #3D3E40;
  
    .left {
        display: flex;
        align-items: center;

        img {
            width: 38px;
            margin-right: 5px;
        }

        a {
            margin: 5px 0 0 50px;
            color: #819099;
            letter-spacing: 0.21px;
            text-align: center;
            line-height: 11px;
            text-decoration: none;

            &:hover {
                color: white;
            }
            &:last-of-type {
                color: #47494E;
                cursor: default;
            }

            &.menu.selected {
                color: #aaa;
            }
        }
    }
  
    .right {
        display: flex;
        align-items: center;

        .open-date {
            background-color: #25262B;
            margin: 0 20px;
            padding: 5px 15px;
            border-radius: 7px;
        }

        span {
            font-family: Montserrat-SemiBold;
            color: #FFFFFF;
            letter-spacing: 0.63px;

            .symbol {
                font-family: Lucida Grande;
                font-weight: bold;
            }
        }

        img {
            width: 20px;
        }
    }

    &.mobile {
        justify-content: center;
        padding: 15px 0;
        font-size: 9px;
        border: none;
        background-image: linear-gradient(to right, #222428, #2e3139);

        .open-date {
            margin: 0 0 0 10px;
            border-radius: 5px;
            padding: 5px 10px;
        }

        span {
            font-family: Montserrat-Thin;
            letter-spacing: 0.3px;
        }
    }
  }