.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    font-family: Montserrat-Regular;
    font-size: 12px;
    border-bottom: 1px solid #3D3E40;

    .pages {

        a {
            color: #7E8D95;
            letter-spacing: 0.38px;
            text-align: center;
            margin-right: 50px;
            text-decoration: none;

            &:hover {
                color: white;
            }

            &:nth-last-of-type(1), &:nth-last-of-type(2), &:nth-last-of-type(3) {
                color: #47494E;
                cursor: default;
            }

            &.menu.selected {
                color: white;
            }
        }
    }

    .start {
        span {
            color: white;
        }
    }

    &.mobile {
        justify-content: flex-end;
        border: none;

        .header-item {
            &:nth-child(1), &:nth-child(2) {
                .item-text {
                    color: #7E8D95 !important;
                }
            }
        }
        .item-disabled {
            color: #47494e !important;
        }
    }
}

.bm-burger-button {
    position: fixed;
    width: 20px;
    height: 15px;
    left: 50px;
    top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shrink {
    0% {
        width: 95%;
    }
    100% {
        width: 100%;
    }
}