main {
    display: flex;
    height: calc(100vh - 146px);

    .left-content {
        width: 20%;
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        background-image: linear-gradient(#282a2e, #2E3137);

        &::after {
            content: '';
            width: 100%;
            padding-top: 100%;
            position: absolute;
            top: 77vh;
            border-radius: 50%;
            background-image: linear-gradient(to right, #222428, #2e3139);
        }
        
        .first-line {
            width: 33%;
            height: 50%;
            position: relative;
            border-right: 1px solid #3D3E40;

            &::before {
                content: '';
                width: 19px;
                height: 19px;
                position: absolute;
                top: -25px;
                right: -2px;
                background-image: radial-gradient(#4a4c51, #2f3136);
                border-radius: 50%;
            }
            &::after {
                content: '';
                width: 19px;
                height: 19px;
                position: absolute;
                top: -19px;
                right: -9.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 10px;
                background-color: #5b4f4a;
                border-radius: 50%;
                border: 1px solid #E8B399;
            }
        }
        .second-line {
            width: 17%;
            height: 80%;
            position: relative;
            border-right: 1px solid #3D3E40;

            &::before {
                content: '';
                width: 19px;
                height: 19px;
                position: absolute;
                top: -25px;
                right: -2px;
                background-image: radial-gradient(#4a4c51, #2f3136);
                border-radius: 50%;
            }
            &::after {
                content: '';
                width: 19px;
                height: 19px;
                position: absolute;
                top: -19px;
                right: -9.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 10px;
                background-color: #445e58;
                border-radius: 50%;
                border: 1px solid #9BE2BD
            }
        }
        .third-line {
            width: 17%;
            height: 65%;
            position: relative;
            border-right: 1px solid #3D3E40;

            &::before {
                content: '';
                width: 19px;
                height: 19px;
                position: absolute;
                top: -25px;
                right: -2px;
                background-image: radial-gradient(#4a4c51, #2f3136);
                border-radius: 50%;
            }
            &::after {
                content: '';
                width: 19px;
                height: 19px;
                position: absolute;
                top: -19px;
                right: -9.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 10px;
                background-color: #625055;
                border-radius: 50%;
                border: 1px solid #F5B4B4;
            }
        }
    }

    .action-content {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        border-right: 1px solid #3D3E40;
        border-left: 1px solid #3D3E40;
        box-shadow: 20px 0px 20px -6px #26272C;

        span.text {
            font-family: Montserrat-Bold;
            font-size: 36px;
            color: #FFFFFF;
            letter-spacing: 0.89px;
            text-align: center;
            margin-bottom: 35px;
        }

        span.pre-sale {
            font-family: Montserrat-Medium;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0.9px;
            text-align: center;
            background-image: url("../images/PreSale_Go_Button.svg");
            background-size: 100% 140%;
            padding: 23px 79px;
            cursor: pointer;
            //background-color: #25262B;
            //border: 1px solid white;
            //border-radius: 15px;
        }
    }

    .right-content {
        width: 65%;
        display: flex;

        .first-race {
            width: 16%;
            border-right: 10px solid transparent;
            border-image: linear-gradient(to top, #2a2c2f , #2E3137);
            border-image-slice: 1;
        }
        .second-race {
            width: 34%;
            display: flex;
            align-items: flex-end;
            color: white;
            font-size: 11px;
            border-right: 10px solid transparent;
            border-image: linear-gradient(to top, #2a2c2f , #2E3137);
            border-image-slice: 1;
            font-family: Montserrat-Thin;

            .one {
                width: 50%;
                height: 30%;
                position: relative;

                div {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 20%;
                    background-color: #495267;
                    border-radius: 50%;
                    border: 1px solid #9EB7F0;
                }
            }
            .two {
                width: 50%;
                height: 40%;
                position: relative;
                div {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 20%;
                    background-color: #5b4f4a;
                    border-radius: 50%;
                    border: 1px solid #E8B399;
                }
            }
        }
        .third-race {
            width: 34%;
            display: flex;
            align-items: flex-end;
            color: white;
            font-size: 11px;
            border-right: 10px solid transparent;
            border-image: linear-gradient(to top, #2a2c2f , #2E3137);
            border-image-slice: 1;
            font-family: Montserrat-Thin;

            .one {
                width: 50%;
                height: 75%;
                position: relative;
                div {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 60%;
                    background-color: #445e58;
                    border-radius: 50%;
                    border: 1px solid #9BE2BD
                }
            }
            .two {
                width: 50%;
                height: 50%;
                position: relative;
                div {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 60%;
                    background-color: #625055;
                    border-radius: 50%;
                    border: 1px solid #F5B4B4;
                }
            }
        }
        .fourth-race {
            width: 16%;
            display: flex;
            align-items: flex-end;
            color: white;
            font-size: 11px;
            font-family: Montserrat-Thin;

            .one {
                width: 50%;
                height: 25%;
                position: relative;
                div {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 30px;
                    background-color: #5d6155;
                    border-radius: 50%;
                    border: 1px solid #F0F5B3;
                }
            }
        }
    }

    &.mobile {
        .left-content {
            width: 100%;
            height: calc(100vh - 53px);

            &::after {
                top: 80vh;
                left: -25%;
                width: 150%;
            }

            .first-line {
                width: 40%;
                height: 63%;
                &::after {
                    content: '5';
                }
            }
            .second-line {
                width: 12%;
                height: 85%;
                &::after {
                    content: '1';
                }
            }
            .third-line {
                width: 12%;
                height: 73%;
                &::after {
                    content: '19';
                }
            }

            span.pre-sale {
                position: absolute;
                top: 55%;
                left: calc(50% - 88px);
                background-color: #25262B;
                border: 1px solid white;
                padding: 20px 60px;
                border-radius: 15px;
                font-size: 14px;
                font-family: 'Montserrat-Regular';
                color: white;
                z-index: 99;
            }

            .zed-logo {
                width: 40px;
                position: absolute;
                bottom: 25px;
                left: calc(50% - 15px);
                z-index: 99;
            }
        }
    }
}